# Exclude PublishedApp (compiled binaries) from language stats
PublishedApp/* linguist-generated

# Set C# as the primary language
*.cs linguist-language=C#
*.cshtml linguist-language=C#
*.razor linguist-language=C#

# Include Docker-related files
Dockerfile linguist-language=Docker
*.yml linguist-language=YAML
