# Mark published files and binaries as linguist-generated
PublishedApp/* linguist-generated
*.dll linguist-generated

# Define C# as the primary language
*.cs linguist-language=C#
*.cshtml linguist-language=C#
*.razor linguist-language=C#
